@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&family=Open+Sans&display=swap');


body {
    margin: 0 auto;
    padding: 0;
}




/* CREDIT : https://cache.marriott.com/marriottassets/marriott/BJVLC/bjvlc-fitness-9619-hor-feat.jpg */
#main-image {
    
    background-image: url('../images/main-image.jpg');
    
    min-height: 100vh;
    width:100%;

    margin: 0 auto;
    padding: 0;
    
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    opacity: 0.9;

} 




#nav-menu {
    font-family: IBM Plex Sans, sans-serif;
    width: 90%;
    margin: auto;
    top: 20px;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    list-style-type: none;
    letter-spacing: 2px;
    font-size: 25px;
    display: flex;
    justify-content: space-between;
     
}



#nav-menu a {
    text-decoration: none;
    color: #ffff; 
}

#nav-menu #yourehere {
    color: grey;
    font-size:28px;
}

#nav-menu a:hover {
    text-decoration: none;
    color: grey; 
} 

#main-image h1 {
    font-family: Roboto, sans-serif;
    font-size: 450%;
    text-align: center;
    padding-top: 200px;
    margin: 0 auto;
    color: #eceaea;
    letter-spacing: 5px;
}

#why-join-us{
    font-family: Roboto, sans-serif;
    background-color: rgb(94, 89, 89);
    opacity: 0.6;
    width: 45%;
    height: 300px;
    margin: 0 auto;
    color:rgb(236, 236, 236);
    text-transform: uppercase;
    font-size: 30px;
    letter-spacing: 1.5px;
      
}

#join-list {
    list-style-type: none;
}


footer {
    font-family: IBM Plex Sans, sans-serif;
    height: 100px;
    background-color: rgb(46, 32, 24);
    display: flex;
    width: 100%;
    justify-content: space-between;
    bottom: 0;
    position: absolute;

    letter-spacing: 1.5px;
    text-align: center;
    text-transform: uppercase;
    font-size: 15px;
    line-height: 5px;
    color: white;
}

#left-footer-div {
    float: left;
    width: 33%;
    
}

#center-footer-div{
    width: 33%;
    margin: 0 auto;
}

#right-footer-div{
    float: right;
    width: 33%;
}

#membership-image{
    background-image: url('../images/membership.jpeg');
    /* min-height: 100vh; */
    width:100vw;
    height: 100vh;
    margin: 0 auto;
    padding: 0;
    
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    opacity: 0.9;
}



.membership-h2 {
    padding-top: 100px;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-family: Roboto, sans-serif;
    font-size: 30px;
    margin: 0 auto;
    text-align: center;
    color:rgb(26, 26, 26);
}



.membership-offers{
    font-family: IBM Plex Sans, sans-serif; 
    text-align: center;
    
    font-size: 30px;
    /* text-transform: uppercase; */
    list-style-type: none;
    line-height: 40px;
    color: rgb(56, 56, 56);
}

#second-membership-section{
    height: 1000px;
    width: 100%;
    background-color:rgb(158, 158, 158); 
    opacity: 0.5;
}

.tables{
    font-family: IBM Plex Sans, sans-serif; 
    font-size: 20px;
    text-transform: uppercase;
    color: grey;
    width: 60%;
    height: 200px;
    border: solid rgb(158, 158, 158) 1px;
    background-color: rgb(236, 236, 236);
    text-align: center;
    margin: 0 auto;
    padding: 0;
}



.spacer-div{
    height: 70px;   
}


#classes-link{
    text-decoration: none;
    color:rgb(26, 26, 26);
}

#form-div{
    width: 65%;
    height: 900px;
    /* background-color: white; */
    margin: 0 auto;
    padding-top: 30px;
    border: red solid;
}

#membership-form{
    font-family: IBM Plex Sans, sans-serif; 
    font-size: 20px;
    margin: 0 auto;
    width: 50%;
    background-color:white;
    color: grey;
    /* line-height: 60px; */
    border: solid black 1px;

}

#narrow-div{
    width: 70%;
    margin: auto;
    border: solid green;
}

label {
    font-size: 12px;
}

p {
    font-size: 15px;
}

.membership-footer {
    font-family: IBM Plex Sans, sans-serif;
    height: 100px;
    background-color: rgb(41, 41, 43);
    display: flex;
    width: 100%;
    justify-content: space-between;
    bottom: 0;
    margin-bottom: 0;
    position: fixed;

    letter-spacing: 1.5px;
    text-align: center;
    text-transform: uppercase;
    font-size: 15px;
    line-height: 5px;
    color: white;
}

.spacer-div-color{
    height: 100px;  
    background-color:rgb(65, 70, 94); 
    opacity: 0.5;
    top: 0;
    position:relative;
}

h2 {
    font-family: Roboto, sans-serif;
    text-align: center;
    color: white;
    font-size: 40px;
    letter-spacing: 2px;
    padding-top: 20px;

}

#form-h2{
    color:rgb(56, 56, 56);
    font-size: 30px;
}

.text-input {
    height: 40px;
    width: 98%;
    margin: auto;      
}

input[type=submit]{
    width: 50%;
    height: 40px;
    margin: auto;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

#female #male {
    margin: auto;
}

span {
    color: green;
}



 /* - FACILITIES STYLE - /*

/*http://blog.drsquatch.com/wp-content/uploads/2015/05/gym_shower_et.jpg*/
#facilities-image {
    
    background-image: url('../images/facilities.jpeg');
    
    min-height: 3200px;
    width:100%;

    margin: 0 auto;
    padding: 0;
    
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    /* opacity: 0.7; */

} 

#facilities-footer{
    font-family: IBM Plex Sans, sans-serif;
    height: 100px;
    background-color: rgb(34, 71, 27);
    display: flex;
    width: 100%;
    justify-content: space-between;
    bottom: 0;
    margin-bottom: 0;
    position: fixed;

    letter-spacing: 1.5px;
    text-align: center;
    text-transform: uppercase;
    font-size: 15px;
    line-height: 5px;
    color: white;   
}


#facilitiesfirst {
    border: 4px solid white;
    background-color: white;
    /* opacity: 0.8; */
    top: 300px;
    
    position: relative;
    height: 450px;
    width: 80%;
    margin: 0 auto; 
}

#facilitiessecond {
    border: 4px solid white;
    background-color: white;
    /* opacity: 0.8; */
    top: 400px;
    
    position: relative;
    height: 450px;
    width: 80%;
    margin: 0 auto;
}

#facilitiesthird {
    border: 4px solid white;
    background-color: white;
    /* opacity: 0.8; */
    top: 500px;
    position: relative;
    height: 450px;
    width: 80%;
    margin: 0 auto;
}

#facilitiesfourth {
    border: 4px solid white;
    background-color: white;
    /* opacity: 0.8; */
    top: 600px;
    position: relative;
    height: 450px;
    width: 80%;
    margin: 0 auto;
}

#facilitiesfifth {
    border: 4px solid white;
    background-color: white;
    /* opacity: 0.8; */
    top: 700px;
    position: relative;
    height: 450px;
    width: 80%;
    margin: 0 auto;
}

.weights{
    width:50%;
    height:100%;
    float:left;
}

.cardio{
    width:50%;
    height:100%;
    float:right;
}



.right-text{
    text-align: center;
    font-size: 22px;
    line-height: 40px;
    list-style-type: none;
    font-family: IBM Plex Sans, sans-serif;
}

.left-text{
    text-align: center;
    font-size: 22px;
    line-height: 40px;
    list-style-type: none;
    font-family: IBM Plex Sans, sans-serif;
}
 

/* CONTACT PAGE  */

/* CREDIT : https://cache.marriott.com/marriottassets/marriott/BJVLC/bjvlc-fitness-9619-hor-feat.jpg */
#contact-image {
    
    background-image: url('../images/contactbackground.jpg');
    
    min-height: 100vh;
    width:100%;

    margin: 0 auto;
    padding: 0;
    
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    opacity: 0.9;

} 

#contact-nav-menu {
    font-family: IBM Plex Sans, sans-serif;
    width: 90%;
    margin: auto;
    top: 20px;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    list-style-type: none;
    letter-spacing: 2px;
    font-size: 25px;
    display: flex;
    justify-content: space-between;
     
}

#contact-nav-menu a {
    text-decoration: none;
    color:rgb(65, 70, 94); 
}

#contact-nav-menu #yourehere {
    color:seashell;
    font-size:28px;
}

#contact-nav-menu a:hover {
    text-decoration: none;
    color: grey; 
} 


#contact-info{
    height: 600px;
    width: 70%;
    margin: 0 auto;
    border: solid 1px black;
    background-color: white;
    top: 150px;
    position: relative;
    display: flex;
}

#map{
    
    width: 50%;
    left: 20px;
    position: relative;
}

div h1 {
    font-family: IBM Plex Sans, sans-serif; 
    color: black;
    font-size: 25px;
    letter-spacing: 4px;
    text-align: center;
    text-transform: uppercase;
}

#telephone-email{
    
    width: 50%;
    
}


div h2 {
    font-size: 22px;
    font-family: IBM Plex Sans, sans-serif;
    color: black;
    margin: 0 auto;
}

h3 {
    font-size: 19px;
    font-family: IBM Plex Sans, sans-serif;
    color: black;
    text-align: center;
    /* margin: 0 auto;
    left: 80px;
    position: relative; */
}

hr {
    width: 80%;
}

.social-media{
    height: 100px;
    width: 80%;
    display: flex;
    margin: 0 auto;
}

.sm {
    width: 33%;
    margin: auto 0;
    text-align: center;
    font-size: 40px;
    color: black;
    
}

a {
    color: inherit;
    text-decoration: inherit;
}

.sm:hover {
    color:rgb(26, 26, 26);
    font-size: 42px;
}


#contact-div{
    width: 95%;
    display: flex;
    margin: auto 0;
    left: 30px;
    position: relative;
    /* border: turquoise solid 1px; */
}

#contact-left{
    /* border: solid red; */
    width: 49%;
    float: left;
    height: 250px;
}

#contact-right {
    /* border: solid green; */
    width: 49%;
    float: right;
    height: 250px;
   
}

h4 {
    font-size: 14px;
    font-family: IBM Plex Sans, sans-serif;
    color: black;
    text-align:center;
}

/* CLASSES */

