@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&family=Open+Sans&display=swap');


body {
    margin: 0 auto;
    padding: 0;
}




/* CREDIT : https://cache.marriott.com/marriottassets/marriott/BJVLC/bjvlc-fitness-9619-hor-feat.jpg */
#main-image {
    
    background-image: url('../images/main-image.jpg');
    
    min-height: 100vh;
    width:100%;

    margin: 0 auto;
    padding: 0;
    
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    opacity: 0.9;

} 




#nav-menu {
    font-family: IBM Plex Sans, sans-serif;
    width: 90%;
    margin: auto;
    top: 20px;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    list-style-type: none;
    letter-spacing: 2px;
    font-size: 25px;
    display: flex;
    justify-content: space-between;
     
}



#nav-menu a {
    text-decoration: none;
    color: #ffff; 
}

#nav-menu #yourehere {
    color: grey;
    font-size:28px;
}

#nav-menu a:hover {
    text-decoration: none;
    color: grey; 
} 

#main-image h1 {
    font-family: Roboto, sans-serif;
    font-size: 450%;
    text-align: center;
    padding-top: 200px;
    margin: 0 auto;
    color: #eceaea;
    letter-spacing: 5px;
}

#why-join-us{
    font-family: Roboto, sans-serif;
    background-color: rgb(94, 89, 89);
    opacity: 0.6;
    width: 45%;
    height: 300px;
    margin: 0 auto;
    color:rgb(236, 236, 236);
    text-transform: uppercase;
    font-size: 30px;
    letter-spacing: 1.5px;
      
}

#join-list {
    list-style-type: none;
}


footer {
    font-family: IBM Plex Sans, sans-serif;
    height: 100px;
    background-color: rgb(46, 32, 24);
    display: flex;
    width: 100%;
    justify-content: space-between;
    bottom: 0;
    position: absolute;

    letter-spacing: 1.5px;
    text-align: center;
    text-transform: uppercase;
    font-size: 15px;
    line-height: 5px;
    color: white;
}

#left-footer-div {
    float: left;
    width: 33%;
    
}

#center-footer-div{
    width: 33%;
    margin: 0 auto;
}

#right-footer-div{
    float: right;
    width: 33%;
}

#membership-image{
    background-image: url('../images/membership.jpeg');
    /* min-height: 100vh; */
    width:100%;
    min-height: 150vh;
    margin: 0 auto;
    padding: 0;
    
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    opacity: 0.9;
}

#membership-h2 {
    padding-top: 100px;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-family: Roboto, sans-serif;
    font-size: 30px;
    margin: 0 auto;
    text-align: center;
    color:rgb(26, 26, 26);
}



#membership-offers{
    font-family: IBM Plex Sans, sans-serif; 
    text-align: center;
    font-size: 30px;
    /* text-transform: uppercase; */
    list-style-type: none;
    line-height: 40px;
    color: rgb(56, 56, 56);
}

.tables{
    font-family: IBM Plex Sans, sans-serif; 
    font-size: 20px;
    text-transform: uppercase;
    color: grey;
    width: 60%;
    height: 200px;
    border: solid rgb(158, 158, 158) 1px;
    background-color: rgb(236, 236, 236);
    text-align: center;
    margin: 0 auto;
    padding: 0;
}



.spacer-div{
    height: 70px;   
}


#classes-link{
    text-decoration: none;
    color:rgb(26, 26, 26);
}

#form-div{
    width: 65%;
    height: 600px;
    background-color: white;
    margin: 0 auto;
    padding-top: 30px;
}

#membership-form{
    font-family: IBM Plex Sans, sans-serif; 
    font-size: 20px;
    
    height: 600px;
    margin: 0 auto;
    width: 60%;
    background-color:none;
    color: grey;
    line-height: 60px;
    border: solid black 1px;
}


#membership-footer {
    font-family: IBM Plex Sans, sans-serif;
    height: 100px;
    background-color: rgb(41, 41, 43);
    display: flex;
    width: 100%;
    justify-content: space-between;
    bottom: 0;
    margin-bottom: 0;
    position: relative;

    letter-spacing: 1.5px;
    text-align: center;
    text-transform: uppercase;
    font-size: 15px;
    line-height: 5px;
    color: white;
}

.spacer-div-color{
    height: 100px;  
    background-color:rgb(65, 70, 94); 
    opacity: 0.5;
}

h2 {
    font-family: Roboto, sans-serif;
    text-align: center;
    color: white;
    font-size: 40px;
    letter-spacing: 2px;
    padding-top: 20px;

}

#form-h2{
    color:rgb(56, 56, 56);
    font-size: 30px;
}

.text-input {
    height: 40px;
    width: 60%;
    
}



 /* - FACILITIES STYLE - /*

/*http://blog.drsquatch.com/wp-content/uploads/2015/05/gym_shower_et.jpg*/
#facilities-image {
    
    background-image: url('../images/facilities.jpg');
    
    min-height: 2500px;
    width:100%;

    margin: 0 auto;
    padding: 0;
    
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    opacity: 0.9;

} 

#facilities-footer{
    font-family: IBM Plex Sans, sans-serif;
    height: 100px;
    background-color: rgb(41, 41, 41);
    display: flex;
    width: 100%;
    justify-content: space-between;
    bottom: 0;
    margin-bottom: 0;
    position: fixed;

    letter-spacing: 1.5px;
    text-align: center;
    text-transform: uppercase;
    font-size: 15px;
    line-height: 5px;
    color: white;   
}



/* #facilities-banner{
    font-family: IBM Plex Sans, sans-serif;
    width: 40%;
    color: white;
    font-size: 30px;
    margin: 0 auto;

} */

#facilitiesfirst {
    border: 1px solid red;
    background-color: white;
    opacity: 0.8;
    top: 300px;
    position: relative;
    height: 450px;
    width: 80%;
    margin: 0 auto;
}

#facilitiessecond {
    border: 1px solid red;
    background-color: white;
    opacity: 0.8;
    top: 400px;
    position: relative;
    height: 450px;
    width: 80%;
    margin: 0 auto;
}

#weights{
    width:50%;
    height:100%;
    float:left;
}

#cardio{
    width:50%;
    height:100%;
    float:right;
}

#right-text{
    text-align: center;
    font-size: 25px;
    line-height: 40px;
    list-style-type: none;
}

#left-text{
    text-align: center;
    font-size: 25px;
    line-height: 40px;
    list-style-type: none;
}
 

/* CONTACT PAGE  */

/* CREDIT : https://cache.marriott.com/marriottassets/marriott/BJVLC/bjvlc-fitness-9619-hor-feat.jpg */
#contact-image {
    
    background-image: url('../images/contactbackground.jpg');
    
    min-height: 100vh;
    width:100%;

    margin: 0 auto;
    padding: 0;
    
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    opacity: 0.9;

} 


#contact-info{
    height: 600px;
    width: 70%;
    margin: 0 auto;
    border: solid 1px black;
    background-color: white;
    top: 150px;
    position: relative;
    column-count: 2;
}

#map{
    right: 0;
    position: absolute;
    margin-top: 20px;
    margin-right: 50px;  
}

div h1 {
    font-family: IBM Plex Sans, sans-serif; 
    color: black;
    font-size: 25px;
    letter-spacing: 4px;
    text-align: center;
    text-transform: uppercase;
}

