@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&family=Open+Sans&display=swap');


body {
    margin: 0 auto;
    padding: 0;
}

/* CREDIT : https://cache.marriott.com/marriottassets/marriott/BJVLC/bjvlc-fitness-9619-hor-feat.jpg */
#main-image {
    
    background-image: url('../images/main-image.jpg');
    
    min-height: 100vh;
    width:100%;

    margin: 0 auto;
    padding: 0;
    
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    opacity: 0.9;

    animation-name: main-image-ani;
    animation-duration: 2s;
    animation-fill-mode: forwards;
} 


@keyframes main-image-ani {
    from {
        transform:scale(1.01);
    }
    to{
        transform:scale(1);
    }
}

#nav-menu {
    font-family: IBM Plex Sans, sans-serif;
    width: 90%;
    margin: auto;
    top: 20px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    list-style-type: none;
    letter-spacing: 2px;
    font-size: 25px;
    display: flex;
    justify-content: space-between;
     
}

#nav-menu a {
    text-decoration: none;
    color: #ffff; 
}

#nav-menu a:hover {
    text-decoration: none;
    color: grey; 
} 

#main-image h1 {
    font-family: Roboto, sans-serif;
    font-size: 450%;
    text-align: center;
    line-height: 370px;
    color: #eceaea;
    letter-spacing: 5px;
}

#yourehere {
    color: grey;
    font-size:28px;
}

footer {
    font-family: IBM Plex Sans, sans-serif;
    height: 100px;
    background-color: rgb(46, 32, 24);
    display: flex;
    width: 100%;
    justify-content: space-between;
    bottom: 0;
    position: absolute;

    letter-spacing: 1.5px;
    text-align: center;
    text-transform: uppercase;
    font-size: 15px;
    line-height: 5px;
    color: white;
}

#left-footer-div {
    float: left;
    width: 33%;
    
}

#center-footer-div{
    width: 33%;
    margin: 0 auto;
}

#right-footer-div{
    float: right;
    width: 33%;
}